footer {
  background-color: var(--midnight-black);
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  position: fixed;
  bottom: 0;
  z-index: 4;
}

.divPagesFooter {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.divSocialMedia {
  width: 50vw;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.divTwitter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.divFacebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.textSocialMedia {
  display: flex;
  align-items: center; 
  margin-bottom: 1rem;
}

.SocialMediaLogos {
  height: 15px;
}

@media screen and (max-width: 700px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .divTwitter {
    flex-direction: column;
  }

  .divFacebook {
    flex-direction: column;
  }
}
